<div class="span3">
	<strong class="rest_name"><%= @restaurant.name %></strong> <br />
	<%= @restaurant.street %> <br />
	<%= @restaurant.city %>, <%= @restaurant.state %><br /><br />
	<% unless @restaurant.reviews.empty? %>
		<strong>Average Rating: <%= average_review(@restaurant) %> Stars</strong>
	<% end %>
	<br /> <br />
</div>

<div class="span4 images">
	<% unless @restaurant.photos.empty? %>
		<%= render 'carousel' %>
	<% end %>
</div>

<div class="span12"></div>

<div class="span8"><h3>Reviews</h3>
	<table class="table table-bordered table-hover">
		<%= render @restaurant.reviews %>
	</table>
</div>

<div class="span12">
	<% if can? :create, Review %>
		<% if reviewed?(@restaurant) %>
			<h4>You have already reviewed this restaurant</h4>
		<% else %>
			<h3>Add a review</h3>
			<br />
			<%= render 'reviews/form' %>
		<% end %>
	<% else %>
		<h4>Sign in to add a review</h4>
	<% end %>
</div>

<div class="span12">
	<br />
	<% if can? :create, Photo %>
	  <h4>Add a picture</h4>
		<%= render 'photos/form' %>
	<% end %>
</div>