<div class="span4">
	<%= @restaurant.name %> <br />
	<%= @restaurant.street %> <br />
	<%= @restaurant.city %>, <%= @restaurant.state %> <br /> <br />
</div>

<div class="span7 images">
	<%= image_tag "rails.png" %>
</div>

<h3>Reviews</h3>
<table class="table table-bordered table-hover">
	<%= render @restaurant.reviews %>
</table>

<br />

<% if can? :create, Review %>
	<h3>Add a review</h3>
	<%= render 'reviews/form' %>
<% else %>
	<h3>Sign in to add a review</h3>
<% end %>