<%= @restaurant.name %> <br />
<%= @restaurant.street %> <br />
<%= @restaurant.city %>, <%= @restaurant.state %> <br /> <br />

<h3>Reviews</h3>
<table class="table table-bordered">
	<%= render @restaurant.reviews %>
</table>

<br />

<% if can? :create, Review %>
	<h3>Add a review</h3>
	<%= render 'reviews/form' %>
<% else %>
	<h3>Sign in to add a review</h3>
<% end %>