<div class="span3">
	<strong><%= @restaurant.name %></strong> <br />
	<%= @restaurant.street %> <br />
	<%= @restaurant.city %>, <%= @restaurant.state %> <br /> <br />
</div>

<div class="span4 images">
	<% unless @restaurant.photos.empty? %>
		<%= render 'carousel' %>
	<% end %>
</div>

<div class="span12"><h3>Reviews</h3></div>
<table class="table table-bordered table-hover">
	<%= render @restaurant.reviews %>
</table>

<% if can? :create, Review %>
	<% if reviewed?(@restaurant) %>
		<h4>You have already reviewed this restaurant</h4>
	<% else %>
		<h3>Add a review</h3>
		<br />
		<%= render 'reviews/form' %>
	<% end %>
<% else %>
	<h4>Sign in to add a review</h4>
<% end %>

<br />
<% if can? :create, Photo %>
  <h4>Add a picture</h4>
	<%= render 'photos/form' %>
<% end %>